<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HDAConfigDefault</key>
	<array>
		<dict>
			<key>AFGLowPowerState</key>
			<data>
			AwAAAA==
			</data>
			<key>CodecID</key>
			<integer>283902517</integer>
			<key>ConfigData</key>
			<data>
			ASccEAEnHQABJx6gAScfkAFHHCABRx0AAUceFwFHH5ABdxwwAXcd
			AAF3HgABdx9AAZccQAGXHRABlx6LAZcfAAHXHFAB1x2QAdce9wHX
			H0ACFxxgAhcdEAIXHisCFx8BAUcMAgIXDAI=
			</data>
			<key>FuncGroup</key>
			<integer>1</integer>
			<key>LayoutID</key>
			<integer>3</integer>
		</dict>
	</array>
</dict>
</plist>
